@mixin rowCenter{
    display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navItems {
  @include rowCenter;
  .navPages {
    @include rowCenter;
  }
  .navAccount{
    @include rowCenter;

    svg{
        stroke: var(--gold-color);
        margin: 10px 20px;
    }
  }
}
