.productView{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media(max-width:768px){
    .productView{
        flex-direction: column;
    }
}