.footerCopyright{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    .flexCol{
        margin: 20px;
        span{
            margin: 10px 15px;
            a{
                text-decoration: none;
                color: #000;
            }
        }
    }
}

@media(max-width:768px){
    .footerCopyright{
        flex-direction: column;
        .flexCol{
            span{
                display: block;
            }
        }
    }
}