.wrap {
  background-color: var(--grey-color);
  padding: 20px;

  h2 {
    text-align: center;
    margin: 0px 20px;
  }
  .paymentOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .paymentOption {
      margin: 0px 20px;
      svg {
        width: 100px;
        height: 100px;
      }
    }
  }
}

@media (max-width: 768px) {
  .wrap {
    .paymentOptions {
      flex-wrap: wrap;
    }
  }
}
